# Байт-код, оптимизированные / DLL-файлы
__pycache__/
*.py[cod]

# Файлы конфигурации для venv
venv/
.venv/

# Файлы дистрибутивов и артефакты упаковки
dist/
file_sharing/storage/hub/*
*.egg-info/
/steps.txt
steps.txt

# Файлы покрытия, кэши и прочие ненужные файлы
.coverage
.cache/
file_sharing/errors.log
file_sharing/logs.log


# Контрольные точки в Jupyter notebook лучше оставить в стороне
.ipynb_checkpoints